h3 {
      text-align: center;
      padding: 4rem; 
}

 #trail-dump, #camp-dump, #bike-dump, #result-dump {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
 }

 .cardDiv, #campDiv, #bikeDiv {

     margin: 5px;
     border-radius: 5px;
     padding: 10px;
     text-align: center;
     width: 300px;
     background-color: rgba(55, 190, 172, 0.87)
 }

 .cardDiv:hover {
     border: solid black 1px;
     background-color: rgba(55, 190, 172, 1);
     cursor: pointer;
}

 a {
     text-decoration: none;
    color: black;
    
 }

 #weather-dump {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightgray; 
  margin-top: 20px; 
 }

 #forcastDiv {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  
  background-color: rgba(77, 213, 255, 0.993)
 }

 .campForm, .hikingForm, .bikeForm {
     text-align: center;
     background-color: rgba(58, 65, 58, 0.3);
     height: 330px;
    
     border-radius: 10px;
     
 }

 .formHikingContainer {
    padding: 100px 50px 200px 50px;
    width: 100%;
   background-image: url("../images/accomplishment-action-adult-adventure-372098.jpg");
   background-position: center;
 }

 .formCampContainer {
     padding: 100px 50px 200px 50px;
     width: 100%;
    background-image: url("../images/activity-adult-adventure-backpacking-344100.jpg");
    background-position: center;
 }

 .formBikeContainer {
    padding: 100px 50px 200px 50px;
    width: 100%;
   background-image: url("../images/silhouette-photography-of-biker-on-top-of-hill-1619299.jpg");
   background-position: center;
 }

 .favoritesContainer{
    padding: 100px 50px 200px 50px;
    width: 100%;
   background-image: url("../images/carvedTree.jpg");
   background-position: center;
 }

 #cityLabel {
     color: white;
 }

 .location {
     font-weight: bolder;
 }
div p img {
    max-width: 250px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }





 
    
 
    
 