#banner {
    height: 190px; 
}

#skyline {
    background-image: url("../images/raleighskyline_banner.jpg");
    font-size: xx-large;
    font-weight: bold; 
    color: white; 
    vertical-align: center;
    text-align: center;
    height: 190px;
}

#skyline p {
    color: white;
    background-color:  rgba(63, 63, 63, 0.555);
    border-radius: 10px;
    margin-top: 0;
    width: 100%;
}

#weather {
    height: 100%; 
    vertical-align: center; 
    background-color: cornflowerblue;   
}

#weather-icon {
    margin: -30px auto -40px -10px;
}

#wind {
    margin-top: -10px;
    margin-bottom: -10px;
}

#weatherToggle {
    background-color: cornflowerblue;
}

#weatherSwitchTitle  {
    font-weight: bolder;
}

img {
    image-orientation: from-image;
}

#weatherToggle{
    height: 100%; 
    vertical-align: center; 
}

label {
    color: white !important; 
}

.nav a, .material-icons {
    color: black !important; 
}

#mobile-menu-sandwich { 
     color: white !important; 
}